<h1>Howdy!</h1>

<p>You played paper.</p>

<img
src = "http://localhost:3000/assets/images/paper.png"
width = "200">

<p>
  The computer played <%= @computer_move %>
</p>

<% if @computer_move == "rock" %>

<h3>

  <img
src = "http://localhost:3000/assets/images/rock.png"
width = "200">

You win! </h3>

<% end %>

<% if @computer_move == "paper" %>

<h3>

  <img
src = "http://localhost:3000/assets/images/paper.png"
width = "200">

You tied! </h3>

<% end %>

<% if @computer_move == "scissors" %>

<h3> 

  <img
  src = "http://localhost:3000/assets/images/scissors.png"
  width = "200">

  You lose! </h3>

<% end %>
